<!doctype html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <title>Love Spreading</title>
  <link href="../css/normalize.css" rel="stylesheet" media="screen">
  <link href="../css/index.css" rel="stylesheet" media="screen">

</head>

<body>
  <div class="top">
    <div class="title">Love Spreading</div>
    <div class="top_block">
  <div>
      <a href="home"><span class="enter">
        ENTER
      </span></a>

      <div class="short_intro">Spreading your love to the poors with our websites!
      </div>

      <img class="flow" src="../img/index/love-project.jpg"  width="100%">
   </div>

  
  <div class="intro_title">Introduction<p>
  </div>

  <div class="intro">想要為公益團體做點事情卻不知道該怎麼做！<p>
    想捐錢沒錢、想出力沒時間<p>
    有沒有什麼好方法呢？<p>

    捐家裡不需要的東西好了！<p>
    但...這些東西真的是他們需要的嗎？
  </div>

    <img src="../img/index/spreading-the-hw-love-4.jpg"  width="100%" position:absolute>
  </div>
    
    <!--   <span class="try"></span> -->
  </div>
  <img class="flow" src="../img/index/flow.png"  width="100%">

  <div class="about_us" >

  <div class="us_title">About Us<p>
  </div>

    <div class="member member1">
      <img src="../img/index/member1.png" ><p><p>
      <div class="name" >Shelley Sun<p>
    </div>
    朝著偉大的理想邁進orz<p>
    </div>
    <div class="member member2">
      <img src="../img/index/member2.png" ><p><p>
      <div class="name" >Tobey Yang<p>
    </div>
    我要成為海賊王!!!<p>
    </div>

    <div class="member member3">
      <img src="../img/index/member3.png" ><p><p>
      <div class="name" >Andy Chang<p>
    </div>
    電腦好爛500賣...阿不對我想要換成credit來做公益!<p>
    </div>
  </div>



</body>
</html>